<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- =======Meta Tag ===-->
    <meta charset="utf-8">
    <meta name="language" content="Thai">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/logo/LEMON STACK ICON.png" sizes="32x32" />
    <link rel="icon" href="~/images/logo/LEMON STACK ICON.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/images/logo/LEMON STACK ICON.png" />
    <meta name="msapplication-TileImage" content="~/images/logo/LEMON STACK ICON.png" />

    <title>Lemonstack &#8211;  รับพัฒนาเว็บไซต์แบบครบวงจร | Lemonstack</title>
    <meta name='robots' content='noindex, nofollow' />

    <link rel='dns-prefetch' href='//stats.wp.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />

    <meta name="description" content="รับทำเว็บไซต์ครบวงจร ทั้งการออกแบบ พัฒนาระบบ จนถึงการทำ SEO และ Ads เพื่อเพิ่มยอดขายและกลุ่มลูกค้า ด้วยทีมงานมืออาชีพ, พัฒนาเว็บไซต์, บริการพัฒนาเว็บไซต์ในประเทศไทย, บริการออกแบบเว็บไซต์มืออาชีพ , บริการออกแบบและพัฒนาเว็บไซต์ทันสมัย, รับทำเว็บไซต์ที่เข้ากับธุรกิจ">
    <meta property="og:title" content="Lemonstack - รับพัฒนาเว็บไซต์แบบครบวงจร" />
    <meta property="og:description" content="รับทำเว็บไซต์ครบวงจร ทั้งการออกแบบ พัฒนาระบบ จนถึงการทำ SEO และ Ads เพื่อเพิ่มยอดขายและกลุ่มลูกค้า ด้วยทีมงานมืออาชีพ, พัฒนาเว็บไซต์, บริการพัฒนาเว็บไซต์ในประเทศไทย, บริการออกแบบเว็บไซต์มืออาชีพ , บริการออกแบบและพัฒนาเว็บไซต์ทันสมัย, รับทำเว็บไซต์ที่เข้ากับธุรกิจ" />
    <meta property="og:image" content="/storage/app/media/" />
    <meta property="og:url" content="https://lemonstack.co.th/th" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <!-- =======CSS Property  ===-->

    <link href="~/css/dynamic.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/wc-blocks-vendors-style.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/wc-all-blocks-style.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/contact-form-7.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/settings.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/woocommerce-layout.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/woocommerce-smallscreen.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/woocommerce.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/intex-animate.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/custom-animate.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/imp.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/owl.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/owl.theme.default.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/flaticon.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/polyglot-language-switcher.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/intex-woocommerce.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/intex-style.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/custom.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/edit.css" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/gutenberg.css?ver=6.3.2" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/tut.css?ver=6.3.2" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/responsive.css?ver=6.3.2" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/kingcomposer.min.css?ver=2.8.2" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/animate.css?ver=2.8.2" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/flaticon.css?ver=2.8.2" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/icomoon.css?ver=2.8.2" rel="stylesheet" />
    <link href="~/lib/crystalowp/css/icons.css?ver=2.8.2" rel="stylesheet" />
    <!-- =======Javascript Property  ===-->
    <script src="~/lib/crystalowp/js/regenerator-runtime.min.js?ver=0.13.11" id="regenerator-runtime-js"></script>
    <script src="~/lib/crystalowp/js/hooks.min.js?ver=c6aec9a8d4e5a5d543a1" id="wp-hooks-js"></script>
    <script src="~/lib/crystalowp/js/jquery.min.js?ver=3.7.0" id="jquery-core-js"></script>
    <script src="~/lib/crystalowp/js/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
    <script src="~/lib/crystalowp/js/jquery.themepunch.tools.min.js?ver=5.4.8.1" id="tp-tools-js"></script>
    <script src="~/lib/crystalowp/js/jquery.themepunch.revolution.min.js?ver=5.4.8.1" id="revmin-js"></script>

    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }),
                            e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 :
                                void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    } f = u
                }
                else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };</script>
    <script type="text/javascript"></script>
    <style type="text/css" id="kc-css-general">
        .kc-off-notice {
            display: inline-block !important;
        }

        .kc-container {
            max-width: 1170px;
        }</style>
    <style type="text/css" id="kc-css-render">
        body.kc-css-system .kc-css-529011 {
            padding-top: 80px;
        }</style>
</head>

<body class="home page-template page-template-tpl-king-composer page-template-tpl-king-composer-php page page-id-5 theme-intexure kingcomposer kc-css-system woocommerce-no-js">
    <!-- =======Body Property  ===-->

    <div class="body_class">
        <!-- =======Boxed/FullWidth add extra div in footer ===-->
        <div class="page-wrapper ">
            <!-- =======Preloader========= -->
            <!-- =======Header Start========= -->
            <!-- Main Header-->
            <!--Start Main Header-->
            <header class="main-header header-style1">

                <div class="header-upper-style1">
                    <div class="inner-container clearfix">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="logo-box-style1 float-left">
                                        <a href="#"><img src="~/images/logo/Logo.png" alt="Logo" title="Title"></a>
                                    </div>
                                    <div class="main-menu-box float-right">
                                        <nav class="main-menu clearfix">
                                            <div class="navbar-header clearfix">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar-1"></span>
                                                    <span class="icon-bar-2"></span>
                                                </button>
                                            </div>
                                            <div class="navbar-collapse collapse clearfix">
                                                <ul class="navigation clearfix">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a id="btnHomes" title="Home" href="#" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart" data-ps2id-api="true">Home</a>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a id="btnServices" title="Services" href="#" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart" data-ps2id-api="true">Services</a>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a id="btnAbout" title="About" href="#" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart" data-ps2id-api="true">About</a>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a id="btnProduct" title="Products" href="#" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart" data-ps2id-api="true">Products</a>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a id="btnPackage" title="Packages" href="#" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart" data-ps2id-api="true">Packages</a>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a id="btnContact" title="Contact" href="#" class="hvr-underline-from-left1" data-scroll data-options="easing: easeOutQuart" data-ps2id-api="true">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                        <div class="mainmenu-right">
                                            <a id="btnQuotation" class="btn-quotation" href="#">Request Quotation</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="scroll-to-top-style2 scroll-to-target" data-target="html">
                <span class="fa fa-angle-up"></span>
            </div>
        </div>

        <div class="kc_clfw">
        </div>

        @RenderBody()

        <!--this is Footer Link -->
        <footer class="footer-area">
            <div class="container">
                <div class="widgets-section">
                    <div class="row justify-content-center text-center">
                        <div id="text-2" class="mrfooter col-md-6 col-sm-7 col-xs-12 footer-column footer-widget widget_text">
                            <div class="textwidget">
                                <div class="single-footer-widget marbtm50">
                                    <div class="contact-info-box">
                                        <div class="title">
                                            <h3>Contact</h3>
                                        </div>
                                        <div class="row footer-left-20">
                                            <div class="col-md-5 col-xs-12 text-left">
                                                <p class="text"><img src="~/images/media/_footer_icon1.png" />096 929 5647</p>
                                            </div>
                                            <div class="col-md-7 col-xs-12 text-left">
                                                <p class="text"><img src="~/images/media/_footer_icon2.png" />kanabut.pua@lemonstack.co.th</p>
                                            </div>
                                            <div class="col-md-12 col-xs-12 text-left">
                                                <p class="text">
                                                    <img src="~/images/media/_footer_icon3.png" />บริษัท เลมอน สแต็ก จำกัด (สำนักงานใหญ่) 54/58 หมู่ 7 อำเภอลำลูกกา
                                                    &nbsp;&nbsp;&nbsp;&nbsp; ตำบลบึงคำพร้อย จังหวัดปทุมทานี 12150
                                                </p>
                                            </div>
                                        </div>
                                        <div class="footer-logo"><a href="#"><img src="~/images/logo/Logo.png" /></a></div>
                                        <div class="row ">
                                            <div class="col-md-12 text-center d-flex  footer-menu">
                                                <a id="btnHomes1" >Home</a>
                                                <a id="btnServices">About</a>
                                                <a>Services</a>
                                                <a>Products</a>
                                                <a>Packages</a>
                                                <a>Contact</a>
                                            </div>
                                        </div>
                                        <div class="row footer-social">
                                            <div class="col-md-12 text-center d-flex justify-content-center gap-4">
                                                <img src="~/images/media/_social_1.png" />
                                                <img src="~/images/media/_social_2.png" />
                                                <img src="~/images/media/_social_3.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <!--this is Scroll to TopFooter -->

    <div class="scroll-to-top-style2 scroll-to-target" data-target="html">
        <img src="~/images/banner/top.png" />
    </div>

    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();
    </script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>


    <script src="~/lib/crystalowp/js/index.js?ver=5.8.1" id="swv-js"></script>
    <script src="~/lib/crystalowp/js/jquery.blockUI.min.js?ver=2.7.0-wc.8.1.1" id="jquery-blockui-js"></script>
    <script type="text/javascript" id="woocommerce-js-extra">
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/crystalowp\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/crystalowp\/?wc-ajax=%%endpoint%%" };
                                                                                                                            /* ]]> */
    </script>
    <script src="~/lib/crystalowp/js/core.min.js?ver=1.13.2" id="jquery-ui-core-js"></script>
    <script src="~/lib/crystalowp/js/jquery-ui.js?ver=6.3.2" id="jquery-ui-js"></script>
    <script src="~/lib/crystalowp/js/appear.js?ver=6.3.2" id="appear-js"></script>
    <script src="~/lib/crystalowp/js/bootstrap.bundle.min.js?ver=6.3.2" id="bootstrap-bundle-js"></script>
    <script src="~/lib/crystalowp/js/bootstrap-select.min.js?ver=6.3.2" id="bootstrap-select-js"></script>
    <script src="~/lib/crystalowp/js/html5shiv.js?ver=6.3.2" id="html5shiv-js"></script>
    <script src="~/lib/crystalowp/js/isotope.js?ver=6.3.2" id="isotope-js"></script>
    <script src="~/lib/crystalowp/js/jquery.bootstrap-touchspin.js?ver=6.3.2" id="bootstrap-touchspin-js"></script>
    <script src="~/lib/crystalowp/js/jquery.countdown.min.js?ver=6.3.2" id="countdown-js"></script>
    <script src="~/lib/crystalowp/js/jquery.countTo.js?ver=6.3.2" id="countTo-js"></script>
    <script src="~/lib/crystalowp/js/jquery.easing.min.js?ver=6.3.2" id="easing-js"></script>
    <script src="~/lib/crystalowp/js/jquery.enllax.min.js?ver=6.3.2" id="enllax-js"></script>
    <script src="~/lib/crystalowp/js/jquery.fancybox.js?ver=6.3.2" id="fancybox-js"></script>
    <script src="~/lib/crystalowp/js/jquery.mixitup.min.js?ver=6.3.2" id="mixitup-js"></script>
    <script src="~/lib/crystalowp/js/jquery.paroller.min.js?ver=6.3.2" id="paroller-js"></script>
    <script src="~/lib/crystalowp/js/owl.js?ver=6.3.2" id="owl-js"></script>
    <script src="~/lib/crystalowp/js/wow.js?ver=6.3.2" id="wow-js"></script>
    <script src="~/lib/crystalowp/js/jquery.polyglot.language.switcher.js?ver=6.3.2" id="language-switcher-js"></script>
    <script src="~/lib/crystalowp/js/script.js?ver=6.3.2" id="intexure-main-script-js"></script>
    <script src="~/lib/crystalowp/js/comment-reply.min.js?ver=6.3.2" id="comment-reply-js"></script>
    <script src="~/lib/crystalowp/js/kingcomposer.min.js?ver=2.8.2" id="kc-front-scripts-js"></script>

    
</body>

</html>

<!-- Page cached by LiteSpeed Cache 5.6 on 2023-12-09 09:20:59 -->
